<div class="w-screen max-w-screen overflow-x-auto px-4">
    <div class="
        flex flex-row-reverse justify-center
        w-max min-w-full h-128
        mt-6
        px-4 py-10
        divide-y-2 divide-indigo-800
    ">
        <%= for board <- @boards do %>
            <%= live_component @socket, BoardPreview, board: board %>
        <% end %>
    </div>
</div>
